*.csv

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace
=======

# Matlab project folders
resources/
*.prj
.DS_Store
Templates/Backup/Brechet2020.set
Templates/Backup/Brechet2020.set
Templates/Backup/Brechet2020.set
Templates/Backup/Britz 2010.set
Templates/Backup/Custo2017.set
Templates/Backup/Damborska_Bipolar_2019.set
Templates/Templates vom Thomas 15.1.2023.zip
Templates/Not yet processed/Brechet Meditation study Placebo.ep
Templates/Not yet processed/Brechet meditation study.xyz
Templates/Not yet processed/Brechet Memory.ep
Templates/Not yet processed/Brechet Memory.xyz
Templates/Not yet processed/templates from Povilas_06022023.zip
Templates/Additional Templates/Brechet2020.set
Templates/Additional Templates/Britz 2010.set
Templates/Additional Templates/Damborska_Bipolar_2019.set
Templates/Additional Templates/Damborska_Dep_2019.set
Templates/Additional Templates/Diezig 2022 Dreamlike experiences.set
Templates/Additional Templates/Kleinert2022_SelfControl1.set
Templates/Additional Templates/Kleinert2022_SelfControl2.set
Templates/Additional Templates/Koenig2002.set
Templates/Additional Templates/NagabhushanKalburgi_2020_ASD.set
Templates/Additional Templates/NagabhushanKalburgi_2020_TD.set
Templates/Additional Templates/Nash2022.set
Templates/Additional Templates/Normative microstate template maps Neuroimage 2002.set
Templates/Additional Templates/Sardeto_2021.set
Templates/Additional Templates/Schiller19_SciRep_Oxytocin.set
Templates/Additional Templates/Schiller2020_ProSoc.set
Templates/Additional Templates/Schiller20_AddBio_GrandMean.set
Templates/Additional Templates/Tarailis2021.set
Templates/Additional Templates/Templates vom Thomas 15.1.2023.zip
Templates/Additional Templates/Tomescu age-gender 2018.set
Templates/Additional Templates/Zanesco_2020_Correlations of MS Dynamics.set
Templates/Additional Templates/Zanesco_2021_Meditation.fdt
Templates/Additional Templates/Zanesco_2021_Meditation.set
Templates/Additional Templates/Zanesco_2021_Mindwandering.set
Templates/Additional Templates/Zanesco_2021_Spontaneous thoughts.set
Templates/CustoPCA.set
analysis_functions/depecrated_functions/OldUpdater.m
