*.csv

# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace
=======

# Matlab project folders
resources/
*.prj
.DS_Store
Templates/Backup/Brechet2020.set
Templates/Backup/Brechet2020.set
Templates/Backup/Brechet2020.set
Templates/Backup/Britz 2010.set
Templates/Backup/Custo2017.set
Templates/Backup/Damborska_Bipolar_2019.set
Templates/Templates vom Thomas 15.1.2023.zip
Templates/Not yet processed/Brechet Meditation study Placebo.ep
Templates/Not yet processed/Brechet meditation study.xyz
Templates/Not yet processed/Brechet Memory.ep
Templates/Not yet processed/Brechet Memory.xyz
